{% load static i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="x-ua-compatible" content="IE=edge">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body>
	{% block content %}{% endblock %}
	{% block extra_js %}
		{# Override this in templates to add extra javascript #}
    {% endblock %}
    </body>
</html>
